<app-home></app-home>

<h3 class="mt-5 mb-3">Reservation List</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Guest</th>
            <th>Email</th>
            <th>Room No.</th>
            <th>Check-In</th>
            <th>Check-Out</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reservation of reservations">
            <td>{{reservation.guestName}}</td>
            <td>{{reservation.guestEmail}}</td>
            <td>{{reservation.roomNumber}}</td>
            <td> {{reservation.checkInDate | date:'medium'}} </td>
            <td>{{reservation.checkOutDate | date:'medium'}}</td>
            <td>
                <button class="btn btn-sm btn-danger mx-1" (click)="deleteReservation(reservation.reservationUUID)">Delete</button>
                <button class="btn btn-sm btn-secondary mx-1" [routerLink]="['/edit', reservation.reservationUUID]">Edit</button>
            </td>
        </tr>
    </tbody>
</table>

<ul *ngIf="reservations.length; else noReservation">

</ul>

<ng-template #noReservation>
    <p>No reservation available.</p>
</ng-template>

<!-- 
'short': 6/15/21, 3:30 PM
'medium': Jun 15, 2021, 3:30:00 PM
'long': June 15, 2021 at 3:30:00 PM GMT+2
'full': Tuesday, June 15, 2021 at 3:30:00 PM GMT+02:00 
-->

